html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.alerts, .wrap {
  margin: 0 auto;
  width: 960px;
}

.topnav, .wrapwrap {
  margin: 0 auto;
  width: 1000px;
}

body {
  background: #9edfdf;
  font-family: Lato, Helvetica;
}

a {
  color: #693416;
}

.alerts {
  margin-bottom: 2em;
}
.alerts .alert {
  background: #ebe4bf;
  padding: .7em 1em;
  border-radius: 4px;
}
.alerts .alert strong {
  font-weight: bold;
}
.alerts .alert i {
  margin-right: 10px;
}

.navwrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.topnav {
  font-size: 0;
  border-right: rgba(0, 0, 0, 0.1);
}
.topnav > ul > li {
  font-size: 16px;
  display: inline-block;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.topnav > ul > li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.topnav > ul > li > a {
  width: 165px;
  margin-right: 0;
  display: block;
  padding: .8em 1em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.topnav > ul > li > a span {
  position: relative;
  padding-right: 16px;
}
.topnav > ul > li > a span:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  right: 0;
  top: 6px;
}
.topnav > ul > li:hover > a {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.3);
}
.topnav > ul > li:hover .subnav {
  display: block;
}
.topnav .subnav {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 100;
  background: white;
  top: 100%;
  left: 0;
  margin-top: 1px;
  border-radius: 1px solid black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.topnav .subnav a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: .5em .8em;
  border-bottom: 1px solid #f0f0f0;
}
.topnav .subnav a:hover {
  background: #f7f7f7;
}

body.vontrapps li.vontrapps a,
body.osmonds li.osmonds a,
body.jacksons li.jacksons a,
body.hansons li.hansons a,
body.ronettes li.ronettes a,
body.staples li.staples a {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

.wrapwrap {
  background: white url(/img/bg.gif) repeat-y;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2em;
}

.wrap {
  margin: 0 20px;
  font-size: 0;
  position: relative;
}

.faces-sprite, .sidenav a.liesl:before, .sidenav a.friedrich:before, .sidenav a.louisa:before, .sidenav a.kurt:before, .sidenav a.brigitta:before, .sidenav a.marta:before, .sidenav a.gretl:before {
  background: url('../img/faces-s3b8c91fef2.png') no-repeat;
}

.sidenav {
  font-size: 0;
  margin-bottom: 20px;
  width: 225px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}
.sidenav.stuck {
  position: fixed;
}
.sidenav a {
  display: block;
  background: #111;
  color: #ddd;
  font-size: 20px;
  text-decoration: none;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 44px;
  opacity: .8;
}
.sidenav a:before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ddd;
  border: 1px solid #999;
}
.sidenav a.liesl:before {
  background-position: 0 -60px;
}
.sidenav a.friedrich:before {
  background-position: 0 0;
}
.sidenav a.louisa:before {
  background-position: 0 -180px;
}
.sidenav a.kurt:before {
  background-position: 0 -120px;
}
.sidenav a.brigitta:before {
  background-position: 0 -90px;
}
.sidenav a.marta:before {
  background-position: 0 -30px;
}
.sidenav a.gretl:before {
  background-position: 0 -150px;
}
.sidenav a.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  opacity: 1;
}
.sidenav a.active + a {
  border: none;
}
.sidenav a.active:before {
  border-color: #ccc;
}
.sidenav a.active:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 12px;
  right: 0;
  top: 50%;
}

.content {
  margin-left: 245.0px;
  width: 715px;
  margin-right: 20px;
  margin-right: 0;
  padding-top: 20px;
  display: inline-block;
  font-size: 0;
  position: relative;
}

h2 {
  font-size: 42px;
  line-height: 1;
  margin-bottom: .6em;
  padding: 12px 0;
  font-weight: bold;
}

.actions {
  position: absolute;
  top: 32px;
  right: 0;
}
.actions li {
  display: inline-block;
}
.actions i {
  font-size: 20px;
  color: #693416;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 10px;
}

.item {
  width: 225px;
  margin-right: 20px;
  display: inline-block;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 1.5em;
}
.item .photo {
  height: 200px;
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 1em;
}
.item .caption h3 {
  font-weight: bold;
  font-size: 18px;
}
.item .caption h3 a {
  text-decoration: none;
}
.item .caption p {
  color: #888;
}
.item:nth-of-type(3n) {
  margin-right: 0;
}
